<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="header.component.scss" rel="stylesheet">
   
</head>
<body>

<!-- Header Section -->
<header class="header-image">
    <div class="header-content">
        <h1>Saflık ve Lezzet <br> Her Yudumda!</h1>
        <p>Zararlı kimyasallardan arınmış, minerallerle zenginleştirilmiş su için <br> Ecowave'i tercih edin, sağlığınızı ve damak zevkinizi koruyun.</p>
    </div>
</header>


<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
