.header-image {
    background: url('/assets/img/h3.png') no-repeat right center;
    background-size: cover;
    height: 700px;
    width: 100%; /* Resmin genişliğini belirliyoruz */
    position: relative;
    color: white;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 0; /* Sağ kenara yaslanacak */
    transform: translateY(-50%);
    text-align: left;
}

.header-content h1 {
    font-family: "Times New Roman", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    text-align: left;
    padding-left: 100px; 
}

.header-content p {
    font-size: 1.5rem;
    text-align: left;
    padding-left: 100px; 
}

// .navbar-nav {
//     margin-right: auto; /* Sol kenara boşluk bırakır */
// }
.navbar-nav {
    margin-left: auto;
}
// .navbar-nav .nav-item {
//     margin-left: auto; /* Her bir öğe arasında boşluk bırakır */
// }
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}